// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// -------- Colors -----------
@primary-color: rgb(5, 135, 191);


@dark-primary: #24292e;
@dark-secondary: #2b3137;


@text-color-secondary: rgb(5, 135, 191);
@menu-bg: @dark-secondary;
@menu-dark-color: @dark-secondary;
@layout-sider-background:@dark-secondary;
//@menu-item-active-bg: @item-active-bg;
@menu-item-color: rgba(253, 253, 253, 0.65);
@menu-inline-toplevel-item-height: 30px;
@menu-item-height: 30px;