.is-fullheight
    height: 100%!important
.is-fullwidth
    width: 100%!important
.ma-auto
    margin: 0 auto!important
.calc-h
    height: calc(100vh - 58px)!important
.is-right
    float: right!important
.is-left
    float: left!important
.text-center
    text-align: center
.text-left
    text-align: left
.text-right
    text-align: rigt
.p0
    padding: 0!important
.pt-4
    padding-top: 20px
.m0
    margin: 0!important
.mb-5
    margin-bottom: 40px!important